{% extends "base_page.html" %}

{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'map_room/join_map_room.css' %}" />
{% endblock %}

{% block content %}
<div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title">
        <button class="mdl-button mdl-js-button mdl-button mdl-button--accent" id="map-room-button-new">
            New MapRoom
        </button>
        <button class="mdl-button mdl-js-button mdl-button mdl-button--accent" id="map-room-button-join">
            Join MapRoom
        </button>
    </div>
    <div class="mdl-card__supporting-text">
        <div id="map-room-new-container">
            <div id="map-room-current-name-input" class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" maxlength="50" type="text" value="room-name" id="map-room-room-name" />
                <label class="mdl-textfield__label" for="map-room-room-name">Text...</label>
            </div>
            <button id="map-room-new-haiku-name-button" class="mdl-button mdl-js-button mdl-button--accent">New Name</button>
            
            <button id="map-room-new-submit-button" class="mdl-button mdl-js-button mdl-button--primary" type="button" value="Submit">Submit</button>
        </div>
        <div id="map-room-join-container">
            <h3>Public Rooms</h3>
        </div>
    </div>
</div>

{% endblock %}

{% block page_js %}
    <script>
        var navUserData = {{ nav_user_data }};
        var allMapRooms = {{ all_map_rooms }};
    </script>
    
    <script type="text/javascript" src="{% static 'map_room/join_map_room.js' %}"></script>
{% endblock %}
