{% extends "base_page.html" %}

{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'map_room/map_room.css' %}" />
{% endblock %}

{% block content %}
    <div class="map-room-container">
        <div id="map-room-map">
        </div>
        <div id="map-toolbar" class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button id="map-toolbar-sync-toggle" type="button" class="btn btn-secondary map-toolbar-button">
                <i class="material-icons">check_box</i>
            </button>
        </div>
        
        <h1 id="map-room-long-lat"></h1>
    </div>
{% endblock %}

{% block page_js %}
    <script>
        var mapRoom = {{ map_room }}
    </script>
    <script type="text/javascript" src="{% static 'map_room/map_room.js' %}"></script>
{% endblock %}
