{% extends "base_page.html" %}

{% load staticfiles %}
{% load compress %}

{% block page_css %}
    <!-- Leaflet CSS -->
    <!-- marker-icon-2x.png appears distorted -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}" />

    {% compress css %}
        <!-- Leaflet CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet-draw/dist/leaflet.draw.css' %}" />

        <!-- Page CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'map_room/map_room.css' %}" />
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="map-room-container">
        <div id="map-room-map">
        </div>
        <div id="map-toolbar" class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <button id="map-toolbar-sync-toggle" class="mdl-button mdl-js-button">
                <i class="material-icons">check_box</i>
            </button>
            <div class="mdl-tooltip" data-mdl-for="map-toolbar-sync-toggle">Map Sync</div>

            <button id="map-toolbar-chat-toggle" class="mdl-button mdl-js-button">
                <i class="material-icons">face</i>
            </button>
            <div class="mdl-tooltip" data-mdl-for="map-toolbar-chat-toggle">Chat</div>

            <button id="map-toolbar-geojson-button" class="mdl-button mdl-js-button">
                <i class="material-icons">more_vert</i>
            </button>
            <div class="mdl-tooltip" data-mdl-for="map-toolbar-geojson-button">GeoJson List</div>
            <ul id="map-toolbar-geojson-list" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="map-toolbar-geojson-button">
            </ul>
        </div>

        <div id="map-room-chat" class="mdl-card">
            <div class="mdl-card__title">
                <h3>Chat</h3>
            </div>
            <div id="map-room-messages-container">
                <p id="map-room-empty-message">Umm there are no messages here. Maybe you should send one.</p>
                <!-- Populated by JS -->
            </div>
            <form class="mdl-card__supporting-text">
                    <div id="map-room-current-name-input" class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="map-room-chat-input" />
                        <label class="mdl-textfield__label" for="map-room-chat-input">I do declare...</label>
                    </div>
                    <button id="map-room-submit-chat" class="mdl-button mdl-js-button mdl-button--accent">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script>
        var userInfo = {{ user_info }};
        var chatMessageInfos = {{ chat_message_infos }};
        var geojsonFileInfos = {{ geojson_files }};
        var mapRoom = {{ map_room }};
    </script>

    <!-- GeoJSON Files-->
    <script type="text/javascript" src="{% static 'map_room/geojson/seattleBoundaries.json' %}"></script>
    <script type="text/javascript" src="{% static 'map_room/geojson/seattleParkBenches.json' %}"></script>

    <!-- Reconnecting Websocket JS -->
    <script type="text/javascript" src="{% static 'bower_components/reconnectingWebsocket/reconnecting-websocket.min.js' %}"></script>

    <!-- Leaflet JS -->
    <script type="text/javascript" src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/leaflet-draw/dist/leaflet.draw.js' %}"></script>

    <!-- Page JS -->
    <script type="text/javascript" src="{% static 'map_room/map_room.js' %}"></script>
{% endblock %}
