{% extends "base_page.html" %}

{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}" />
{% endblock %}

{% block content %}
    <div class="home-title-container">
        <h1>MapTogether</h1>
        <p>A site for mapping together with friends, colleagues, and random people on the Internet.</p>
        <p>This site is in active development. Message me on <a href="https://github.com/zacharilius/map_together">
        github</a> for feature requests.</p>
    </div>
{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{% static 'home/home.js' %}"></script>
{% endblock %}