{% extends "base_page.html" %}

{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/login.css' %}" />
{% endblock %}

{% block content %}
<div class="mdl-card mdl-shadow--6dp">
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#accounts-login-panel" class="mdl-tabs__tab is-active">Log In</a>
      <a href="#accounts-signup-panel" class="mdl-tabs__tab">Sign Up</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="accounts-login-panel">
    <form class="accounts-login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield">
                <input required type="text" class="mdl-textfield__input" id="accounts-login-username" name="username" placeholder="Username">
                <label class="mdl-textfield__label" for="accounts-login-username">Username</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input required type="password" class="mdl-textfield__input" id="accounts-login-password" name="password" placeholder="Password" >
                <label class="mdl-textfield__label" for="accounts-login-password">Password</label>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Log in</button>
        </div>
    </form>
  </div>
  <div class="mdl-tabs__panel" id="accounts-signup-panel">
    <form class="accounts-signup-form" action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield">
                <input required type="text" class="mdl-textfield__input" id="accounts-signup-fname" name="firstName" placeholder="First name">
                <label class="mdl-textfield__label" for="accounts-signup-fname">First name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input required type="text" class="mdl-textfield__input" id="accounts-signup-lname" name="lastName" placeholder="Last name">
                <label class="mdl-textfield__label" for="accounts-signup-lname">Last name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input required type="email" class="mdl-textfield__input" id="accounts-signup-email" name="email" placeholder="Email">
                <label class="mdl-textfield__label" for="accounts-signup-email">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input required type="text" class="mdl-textfield__input" id="accounts-signup-username" name="username" placeholder="Username">
                <label class="mdl-textfield__label" for="accounts-signup-username">Username</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input required type="password" class="mdl-textfield__input" id="accounts-signup-password" name="password" placeholder="Password" >
                <label class="mdl-textfield__label" for="accounts-signup-password">Password</label>
            </div>
        </div>
        <div class="mdl-card__actions">
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Sign up</button>
        </div>
    </form>
  </div>
</div>

{% endblock %}

{% block page_js %}
    <script>
        var navUserData = {{ nav_user_data }};
    </script>
    
    <script type="text/javascript" src="{% static 'accounts/login.js' %}"></script>
{% endblock %}
