.mdl-list__item a .mdl-list__item-primary-content {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    min-height: 48px;
    color: rgba(0,0,0,.87);
    cursor: pointer;
}

.mdl-list {
    margin-top: 0;
    padding-top: 0;
}

.profile-card {
    margin: 16px;
    display: inline-block;
    vertical-align: top;
}

.map-room-container {
    padding-bottom: 40px;
}

.map-room-link {
    color: transparent;
}

.map-room-icon {
    width: 40px;
}

.is-public-switch-container {
    display: inline-block;
}

.is-public-switch {
    width: 40px;
}

.mr-update-button {
    float: right;
}

.map-room-name {
    padding-left: 5px;
    width: calc(100% - 50px);
}

/* File Input */
.mdl-textfield--file .mdl-textfield__input,
.mdl-textfield--file .mdl-textfield__label  {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}
