.map-room-radio-container {
    margin: 30px auto;
    text-align: center;
}

.map-room-selection-container {
    text-align: center;
}

#map-room-new-container {
    display: none;
}

#map-room-new-container .map-room-button-container {
    margin-top: 16px;
}


#map-room-join-container {
    display: none;
}

#map-room-join-container a {
    margin-right: 10px;
    margin-left: 10px;
}

