.map-room-radio-container {
    margin: 30px auto;
    text-align: center;
}

.map-room-selection-container {
    text-align: center;
}

#map-room-new-container .map-room-button-container {
    margin-top: 16px;
}

#map-room-join-container a {
    text-decoration: none;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}

/* MDL Override */
.mdl-layout__content {
    display: block;
    width: 100%;
}