/* Map */
/* Leaflet Map have 100% Height */
html, body, .mdl-layout, .mdl-layout__content, .map-room-container, #map-room-map {
    width: 100%;
    height: 100%;
}

/* Overrides default padding*/
main {
    padding-top: 0;
}

.map-room-container {
    height: 100%;
    position: relative;
}

#map-room-map {
    z-index: 1;
    height: 100%;
    width: 100%;
}

/* Map toolbar*/
#map-toolbar {
    background-color: #CCC;
    border-radius: 10%;
    padding: 2px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}

#map-toolbar-sync-toggle {
    padding: 0px;
    margin: 0px;
}

#map-toolbar label {
    width: 50px;
}

#map-toolbar-geojson-list .mdl-menu__item.is-active {
    background-color: rgba(0,0,0,.1);
}

/* Chat */
#map-room-chat {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 16px;
    width: 400px;
    height: 400px;
    z-index: 1;
}

#map-room-chat .mdl-card__title h3 {
    margin: 0;
}

#map-room-chat.is-visible {
    display: block;
}

#map-room-chat #map-room-messages-container {
    height: 190px;
    background-color: #eeeeee;
    padding: 8px;
    overflow-y: auto;
}

#map-room-chat .map-room-message-container span {
    display: block;
    font-size: 10px;
    vertical-align: top;
}

#map-room-chat .map-room-message-container p {
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    background-color: #A1D490;
    color: #FFF;
    overflow-wrap: break-word;
}

#map-room-chat .map-room-message-container.map-room-user-chat-message p {
    background-color: #90C3D4;
}

#map-room-chat form {
    width: 100%;
    padding: 0;
}

#map-room-current-name-input {
    width: 100%;
}

#map-room-submit-chat {
    float: right;
}
