/* Map */
/* Leaflet Map have 100% Height */
html, body, .mdl-layout, .mdl-layout__content, .map-room-container, #map-room-map {
    width: 100%;
    height: 100%;
}

/* Overrides default padding*/
main {
    padding-top: 0;
}

.map-room-container {
    height: 100%;
    position: relative;
}

#map-room-map {
    z-index: 1;
    height: 100%;
    width: 100%;
}

/* Map toolbar*/
#map-toolbar {
    background-color:#EEE;
    border-radius: 10%;
    padding: 2px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#map-toolbar-sync-toggle {
    padding: 0px;
    margin: 0px;
}

#map-toolbar label {
    width: 50px;
}

#map-toolbar i {
    color: #121212;
}

#map-toolbar-geojson-list .mdl-menu__item.is-active {
    background-color: rgba(0,0,0,.1);
}

/* Chat */
#map-room-chat {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 16px;
    width: 400px;
    height: 400px;
    z-index: 2;
}

#map-room-chat .mdl-card__title h3 {
    margin: 0;
}

#map-room-chat.is-visible {
    display: block;
}

#map-room-chat #map-room-message-container {
    height: 150px;
    margin-bottom: 16px;
    overflow-y: auto;
}

#map-room-chat #map-room-message-container p {
    padding: 4px;
    overflow-wrap: break-word;
}

#map-room-chat #map-room-message-container p:nth-child(even) {
    background-color: #EEEEEE;
}

#map-room-chat form {
    margin-right: 15px;
}

