{% load staticfiles %}

<!-- Always shows a header, even in smaller screens. -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a class="mdl-navigation__link" href="{% url 'index' %}"><span class="mdl-layout-title">MapTogether</span></a>
      {% if nav_data.is_logged_in %}
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="{% url 'join_map_room' %}">Join MapRoom</a>
        </nav>
      {% endif %}
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        {% if nav_data.is_logged_in %}
          <a class="mdl-navigation__link" href="{% url 'join_map_room' %}">Join MapRoom</a>
          <button id="nav-right-dropdown" class="mdl-button mdl-js-button">
            <img id="nav-avatar" src="{{ nav_data.gravatar_url }}" />
            {{ nav_data.username }}
            <i class="material-icons nav-dropdown-arrow">play_arrow</i>
          </button>
        {% else %}
          <button id="nav-right-dropdown" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
        {% endif %}
      </nav>

      <ul id="nav-user-dropdown" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="nav-right-dropdown">
          {% if not nav_data.is_logged_in %}
            <li class="mdl-menu__item">
              <a class="mdl-menu__item" href="{% url 'login' %}">Log in</a>
            </li>
          {% elif nav_data.is_logged_in %}
            <li class="mdl-menu__item">
              <a id="nav-profile-button" class="mdl-menu__item" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="mdl-menu__item">
              <a id="nav-logout-button" class="mdl-menu__item" href="{% url 'logout' %}">Log out</a>
            </li>
          {% endif %}
      </ul>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">MapTogether</span>
    <nav class="mdl-navigation">
      {% if not nav_data.is_logged_in %}
        <a class="mdl-navigation__link" href="{% url 'login' %}">Log in</a>
      {% elif nav_data.is_logged_in %}
        <a class="mdl-navigation__link" href="{% url 'join_map_room' %}">Join MapRoom</a>
        <a class="mdl-navigation__link" href="{% url 'profile' %}">Profile</a>
        <a class="mdl-navigation__link" href="{% url 'logout' %}">Log out</a>
      {% endif %}
    </nav>
  </div>
